<!DOCTYPE html>
<html>
<head>
  <title>Eventos</title>
</head>
<body>

  <script>
    fetch('/eventos', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      },
    })
    .then(response => response.json())
    .then(data => {
      // Aquí puedes procesar los datos recibidos
      data.forEach(evento => {
        console.log('Titulo del evento:', evento.titulo);
        console.log('ID del evento:', evento.id);
      });

      window.location.href = '/votaciones_main';
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  </script>
</body>
</html>
