
<head>
    <meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<div class="d-flex align-items-center justify-content-center py-4 text-emphasis-primary">
        <main class="border p-5 rounded bg-white shadow">
            <div class="Registrado px-5" id="registrado">
                <h1 class="h3 mb-4 fw-normal text-center nav-link py-4" style="font-size: 2em;">Creo Un Evento Nuevo Con Exito!</h1>
            </div>
            <div class="d-flex justify-content-center">
    <a href="/eventos/crear" type="submit" class="btn shadow btn-primary col-7 mb-3">Crear Un Evento Nuevo</a>
</div>
<div class="d-flex justify-content-center">
    <a href="/" type="submit" class="btn shadow btn-primary col-7">Inicio</a>
</div>
        </main>
</div>