<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>Configuración_administradores</title>
</head>
<body>
   {{> barrita_de_arriba}}
   <h2 class="h3 mb-3 fw-normal text-center">Configuración eventos</h2>
   <div class="container">
      <form action="/eventos/crear" method="post" >
         <div class="d-flex align-items justify-content py-4 d-flex justify-content-center">
            <div class="mx-4 border p-4 shadow" >
               <h4 class="h3 mb-3 fw-normal text-center">Evento 1</h4>
               <label for="nombre_evento1">Nombre del evento</label>
               <input class="form-control mb-3" type="text" id="nombre_evento1" name="nombre_evento1" required><br>
               <label for="candidato_1a">candidato 1 </label>
               <input class="form-control mb-3" type="text" id="candidato_1a" name="candidato_1a" required><br>
               <label for="candidato_2a">candidato 2</label>
               <input class="form-control mb-3" type="text" id="candidato_2a" name="candidato_2a" required><br>
               <label for="candidato_3a">candidato 3</label>
               <input class="form-control mb-3" type="text" id="candidato_3a" name="candidato_3a" required><br>
               <label>Estado del evento:</label><br>
               <input type="radio" id="enCurso" name="estado" value="true">
               <label for="enCurso">En curso</label><br>
               <input type="radio" id="finalizado" name="estado" value="false">
               <label for="finalizado">Finalizado</label><br>
            </div>
         </div>
         <div class="container">
            <div class="d-flex justify-content-center align-items-center">
               <div>
                  <label for="fecha" class="sr-only">Fecha actual</label>
                  <input class="form-control-sm form-control-xs mb-2" type="date" id="fecha" name="fecha" required>
                  <button  class="btn btn-sm btn-info" type="submit">Enviar</button>
                  <div class="text-center mt-3">
                     <a href="/votar_evento"  class="btn btn-sm nav-link">Ir a las votaciones</a> 
                  </div>
	            </div>
            </div>  
         </div>
      </form>
   </div>
   <script src="/eventos_crear.js"></script>
</body>
</html>
