<h2 class="h3 mb-3 fw-normal text-center">Configuración eventos</h2>
   <div class="container">
      <form action="votaciones.html" method="post">
         <div class="d-flex align-items justify-content py-4 d-flex justify-content-center">
            <div class="mx-4 border p-4 shadow" >
               <h4 class="h3 mb-3 fw-normal text-center">Evento 1</h4>
               <label for="nombre_evento1">Nombre del evento</label>
               <input class="form-control" type="text" id="nombre_evento1" name="nombre_evento1" required><br>
               <label for="candidato_1a">candidato 1 </label>
               <input class="form-control" type="text" id="candidato_1a" name="candidato_1a" required><br>
               <label for="candidato_2a">candidato 2</label>
               <input class="form-control" type="text" id="candidato_2a" name="candidato_2a" required><br>
               <label for="candidato_3a">candidato 3</label>
               <input class="form-control" type="text" id="candidato_3a" name="candidato_3a" required><br>
            </div>
            <div class="mx-4 border p-4 shadow">
               <h4 class="h3 mb-3 fw-normal text-center">Evento 2</h4>
               <label for="nombre_evento2">Nombre del evento</label>
               <input class="form-control" type="text" id="nombre_evento2" name="nombre_evento2" required><br>
               <label for="candidato_1b">candidato 1 </label>
               <input class="form-control" type="text" id="candidato_1b" name="candidato_1b" required><br>
               <label for="candidato_2b">candidato 2</label>
               <input class="form-control" type="text" id="candidato_2b" name="candidato_2b" required><br>
               <label for="candidato_3b">candidato 3</label>
               <input class="form-control" type="text" id="candidato_3b" name="candidato_3b" required><br>
            </div>
            <div class="mx-4 border p-4 shadow">
               <h4 class="h3 mb-3 fw-normal text-center">Evento 3</h4>
               <label for="nombre_evento3">Nombre del evento</label>
               <input class="form-control" type="text" id="nombre_evento3" name="nombre_evento3" required><br>
               <label for="candidato_1c">candidato 1 </label>
               <input class="form-control" type="text" id="candidato_1c" name="candidato_1c" required><br>
               <label for="candidato_2c">candidato 2</label>
               <input class="form-control" type="text" id="candidato_2c" name="candidato_2c" required><br>
               <label for="candidato_3c">candidato 3</label>
               <input class="form-control" type="text" id="candidato_3c" name="candidato_3c" required><br>
            </div>
         </div>
         <div class="container">
            <div class="d-flex justify-content-center align-items-center">
               <div>
                  <label for="fecha" class="sr-only">Fecha actual</label>
                  <input class="form-control-sm form-control-xs mb-2" type="date" id="fecha" name="fecha" required>
                  <button class="btn btn-sm btn-info" type="submit">Enviar</button>
                  <a href="votaciones.html" class="btn btn-sm nav-link">Ir a las votaciones</a> 
               </div>
               
            </div>  
         </div>
      </form>
   </div>