<main class="border p-4 rounded bg-white ">
    <div class="Registrado" id="registrado">
        <h1 class="h3 mb-3 fw-normal text-center">Ingresado con exito!</h1>
    </div>
    <div class="mb-3">
        <form>
        <a href="index.html" type="submit" class="form-control text-center" style="background-color: aqua;">inicio</a><br>
        <a href="votaciones.html" type="submit" class="form-control text-center" style="background-color: aqua;">votaciones</a>
        </form>
    </div>
</main>