<div class="Votaciones container" id="votaciones">
        <div class="table-responsive"> 
        <table class="table table-bordered text-center table-responsive table-fixed shadow">
          <thead>
            <tr>
                <th scope="col">ID evento</th>
                <th scope="col">Nombre del evento</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col"> </th>
            </tr>
          </thead>
              <tbody class="table-group-divider">
                <th scope="row">1</th>
                <td id="nombre_evento1"></td>
                <td id="fecha1"></td>
                <td>
                             <!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#miModal1">Ver detalles
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="miModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Visualizar evento</b></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><b id="event1"></b></p>
          <p id="candidato_1a">
            <p> - 0 votos</p> <!-- aqui deberia ir el id de cantidad de votos de tal candidato -->
          </p>
          <p id="candidato_2a">
            <p> - 0 votos</p> <!-- aqui deberia ir el id de cantidad de votos de tal candidato -->
          </p>
          <p id="candidato_3a">
            <p> - 0 votos</p> <!-- aqui deberia ir el id de cantidad de votos de tal candidato -->
          </p>
          <p> <b>Estado del evento:</b> 
            <p>Finalizado</p> <!-- aqui deberia ir el id de estado del evento -->
          </p>
        </div>
      </div>
    </div>
  </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td id="nombre_evento2"></td>
                <td id="fecha2"></td>
                <td>
                                            <!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#miModal2">Ver detalles
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="miModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Visualizar evento</b></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><b id="event2"></b></p>
          <p id="candidato_1b">
            <p> - 0 votos</p> <!-- aqui deberia ir el id de cantidad de votos de tal candidato -->
          </p>
          <p id="candidato_2b">
            <p> - 0 votos</p> <!-- aqui deberia ir el id de cantidad de votos de tal candidato -->
          </p>
          <p id="candidato_3b">
            <p> - 0 votos</p> <!-- aqui deberia ir el id de cantidad de votos de tal candidato -->
          </p>
          <p> <b>Estado del evento:</b> 
            <p>En curso</p> <!-- aqui deberia ir el id de estado del evento -->
          </p>
        </div>
      </div>
    </div>
  </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td id="nombre_evento3"></td>
                <td id="fecha3"></td>
                <td>
                            <!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#miModal3">Ver detalles
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="miModal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Visualizar evento</b></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><b id="event3"></b></p>
          <p id="candidato_1c">
            <p> - 0 votos</p> <!-- aqui deberia ir el id de cantidad de votos de tal candidato -->
          </p>
          <p id="candidato_2c">
            <p> - 0 votos</p> <!-- aqui deberia ir el id de cantidad de votos de tal candidato -->
          </p>
          <p id="candidato_3c">
            <p> - 0 votos</p> <!-- aqui deberia ir el id de cantidad de votos de tal candidato -->
          </p>
          <p> <b>Estado del evento:</b> 
            <p>En curso</p> <!-- aqui deberia ir el id de estado del evento -->
          </p>
        </div>
      </div>
    </div>
  </div>
                </td>
            </tr>
          </tbody>
        </table><br>
    </div>
    </div>