<div class="container">
    <div class="table-responsive">
      <table class="table table-bordered text-center table-responsive table-fixed shadow">
        <thead>
          <tr>
            <th scope="col">ID evento</th>
            <th scope="col">Nombre del evento</th>
            <th scope="col">Estado del evento</th>
            <th scope="col"></th>      
          </tr>      
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td id="nombre_evento1"></td>
            <td>Finalizado</td>
            <td>
            <nav class="nav">
              <button type="button" class="btn btn-primary disabled" data-bs-toggle="modal" data-bs-target="#miModal1">Votar</button>
            </nav>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td id="nombre_evento2"></td>
            <td>En curso</td>
            <td>
            <nav class="nav">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal2">Votar</button>
            </nav></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td id="nombre_evento3"></td>
            <td>En curso</td>
            <td>
            <nav class="nav">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal3">Votar</button>
            </nav>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
<!-- Modal1 -->
<div class="modal fade" id="miModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Votar Encuesta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="mb-4 text-center">Nominados por convivencia</h5>
        <h5 class="mb-4 fw-normal text-center">Selecciona una opción</h5> 
        <form>
          <ul class="h6 fw-normal">
            <li class="py-3"> 
              <label for="opcion1a">
                <input type="radio" id="opcion1a" name="opcion_voto" value="">
                <span id="candidato_1a"></span>
              </label>
            </li>
            <li class="py-3"> 
              <label for="opcion2a">
                <input type="radio" id="opcion2a" name="opcion_voto" value="">
                <span id="candidato_2a"></span>
              </label>
            </li>
            <li class="py-3"> 
              <label for="opcion3a">
                <input type="radio" id="opcion3a" name="opcion_voto" value="">
                <span id="candidato_3a"></span>
              </label>
            </li>
          </ul>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Votar</button>
          </div>
        </form>        
      </div>
    </div>
  </div>
</div>
 
<!-- Modal2 -->
<div class="modal fade" id="miModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Votar Encuesta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="mb-4 text-center">Nominados por convivencia</h5>
        <h5 class="mb-4 fw-normal text-center">Selecciona una opción</h5> 
        <form>
          <ul class="h6 fw-normal">
            <li class="py-3"> 
              <label for="opcion1b">
                <input type="radio" id="opcion1b" name="opcion_voto" value="">
                <span id="candidato_1b"></span>
              </label>
            </li>
            <li class="py-3"> 
              <label for="opcion2b">
                <input type="radio" id="opcion2b" name="opcion_voto" value="">
                <span id="candidato_2b"></span>
              </label>
            </li>
            <li class="py-3"> 
              <label for="opcion3b">
                <input type="radio" id="opcion3b" name="opcion_voto" value="">
                <span id="candidato_3b"></span>
              </label>
            </li>
          </ul>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Votar</button>
          </div>
        </form>        
      </div>
    </div>
  </div>
</div>
  
<!-- Modal3 -->
<div class="modal fade" id="miModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Votar Encuesta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="mb-4 text-center">Nominados por convivencia</h5>
        <h5 class="mb-4 fw-normal text-center">Selecciona una opción</h5> 
        <form>
          <ul class="h6 fw-normal">
            <li class="py-3"> 
              <label for="opcion1c">
                <input type="radio" id="opcion1c" name="opcion_voto" value="">
                <span id="candidato_1c"></span>
              </label>
            </li>
            <li class="py-3"> 
              <label for="opcion2c">
                <input type="radio" id="opcion2c" name="opcion_voto" value="">
                <span id="candidato_2c"></span>
              </label>
            </li>
            <li class="py-3"> 
              <label for="opcion3c">
                <input type="radio" id="opcion3c" name="opcion_voto" value="">
                <span id="candidato_3c"></span>
              </label>
            </li>
          </ul>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Votar</button>
          </div>
        </form>        
      </div>
    </div>
  </div>
</div>