<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="container">
          <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
              <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              </a>
            </div>
      
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 ">Inicio</a></li>
              <li><a href="/eventos_data" class="nav-link px-2">Eventos</a></li>
              <li><a href="/opciones_admin" class="nav-link px-2">Opciones para administradores</a></li>
            </ul>
          </header>
      </div>
    </div>