<div class="d-flex align-items-center justify-content-center py-4 text-emphasis-primary">
        <main class="border p-5 rounded bg-white shadow">
            <div class="Registrado px-5" id="registrado">
                <h1 class="h3 mb-3 fw-normal text-center nav-link py-2">Registrado con exito!</h1>
            </div>
            <div class="mb-2">
                <a href="/" type="submit" class="form-control text-center nav-link py-2" style="background-color: aqua;">inicio</a><br>
            </div>
        </main>
    </div>