    <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bienvenidos</h1>
        <p class="lead text-body-secondary">Esta es la página principal del sitio web de votaciones para los realitys</p>
        <p>
            <a href="/registro" class="btn btn-secondary my-2">Registrar</a>
            <a href="/ingreso1" class="btn btn-secondary my-2">Ingresar</a>
            <a href="/votar_evento" class="btn btn-secondary my-2">Ingresar a las votaciones</a>
        </p>
    </div>
</div>