<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
   <title>Configuración_administradores</title>
</head>
<body>
   {{{barrita_de_arriba}}}
   {{{configuracion_admin}}}
   <script>
       document.querySelector('form').addEventListener('submit', function(event) {
           event.preventDefault();

           const formData = new FormData(this);
           const data = {};

           // Obtén los valores del formulario
           for (const [key, value] of formData.entries()) {
               data[key] = value;
           }

           // Envia los datos al servidor usando fetch
           fetch('/guardar_datos', {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify(data)
           })
           .then(response => response.json())
           .then(result => {
               console.log('Datos enviados exitosamente:', result);
               // Puedes redirigir al usuario a donde desees aquí
           })
           .catch(error => console.error('Error al enviar datos:', error));
       });
   </script>
</body>
</html>